.custom-home-menu {
  max-width: 15%;
  min-height: 100vh;
  margin-top: -100px;
  background-color: rgba(18, 18, 18, 0.962) !important;
  /* Màu xám nhạt */
}

a {
  text-decoration: none;
  font-size: 19px;
  color: aliceblue;
  padding: 0 !important;
}

ul {
  list-style-type: none;
  /* padding-left: 0; nếu muốn canh lề sát */
  margin: 0;
  padding-inline-start: 15px;
}

/* li {
  color: aliceblue;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
} */
.custom-sub-li,
.menu-li {
  color: aliceblue;
  padding: 5px 0;
  white-space: nowrap;
}

.p-4 {
  padding: 0 !important;
}
.px-4{
  padding-left: 0 !important;
}

.flex-grow {
  min-height: 100%;
}

.custom-collapse-button {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-around; */
  color: aliceblue;
  font-size: 19px;
  background-color: none;
  /* margin-left: -2rem; */
}
.custom-label{
  margin-left: 10px;
}
.sub-list-none{
  background-color: rgb(71, 71, 71);
  margin-left: 15px;
}
.custom-sub-ul{
  padding-left: 2px;
}
.custom-sub-li{
  border-bottom: 1.6px solid black;
}
.menu-label {
  transition: background-color 0.3s, color 0.3s;
}

.menu-label {
  transition: background-color 0.3s, color 0.3s;
}






/* Hover cho collapse-button riêng */
.custom-collapse-button {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-collapse-button:hover {
  background-color: white;
  color: black;
}
.custom-collapse-button:hover svg {
  color: black;
}

/* Hover cho li con */
.custom-sub-li {
  color: aliceblue;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-sub-li:hover {
  background-color: #f0f0f0;
  color: black;
}
.custom-sub-li:hover a {
  color: black;
}
